/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #555555;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: flex;
}

@import "~react-image-gallery/styles/css/image-gallery.css";
